<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Pluralize.NET" version="0.1.84" targetFramework="net46" />
  <package id="ZeraSystems.CodeNanite.Expansion" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="ZeraSystems.CodeStencil.Contracts" version="1.0.1" targetFramework="net472" />
</packages>